{% extends 'base.html' %} {% block content %}

<main class="main" style="padding-top: 80px">
    <!-- Hero Section -->
    <section id="hero" class="hero section" style="background-color: #208c81">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <h1>Hello, I'm</h1>
            <h2>Winnie Mutheu</h2>
            <p>I'm <span class="typed" data-typed-items="Software Engineer, Data Scientist, Data Analyst, Web Developer, Business Analyst">Software Engineer</span><span class="typed-cursor typed-cursor--blink"></span></p>
            <button class="cv-btn">Download CV</button>
        </div>

        <!-- </section> -->
    </section>
    <!-- /Hero Section -->

    {% include 'about.html' %} {% include 'skills.html' %} {% include 'interests.html' %}
</main>

{% include 'services.html' %} {% include 'experience.html' %} {% include 'projects.html' %} {% include 'contact.html' %}

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

{% endblock content %}
