{% load static %}

<!-- Services Section -->
<section id="services" class="services section">
    <div class="container">
        <header class="section-header">
            <h2>Services</h2>
        </header>

        <div class="services-grid">
            <div class="service-item">
                <img src="{% static 'img/software-development.png' %}" alt="" />
                <h3>Software Engineering</h3>
                <p>Transform your ideas into reality with robust and scalable software solutions. I specialize in full-stack development, ensuring your applications are functional, efficient, and user-friendly.</p>
            </div>

            <div class="service-item">
                <img src="{% static 'img/data-science.png' %}" alt="" />
                <h3>Data Science</h3>
                <p>Leverage data to uncover valuable insights and drive informed decisions. I specialize in advanced analytics, machine learning, and data visualization.</p>
            </div>

            <div class="service-item">
                <img src="{% static 'img/coding.png' %}" alt="" />
                <h3>Web Development</h3>
                <p>Crafting user-friendly, responsive, and high-performance websites tailored to your business needs. I handle front-end and back-end development.</p>
            </div>

            <div class="service-item">
                <img src="{% static 'img/exploration.png' %}" alt="" />
                <h3>Data Analysis</h3>
                <p>Transform your raw data into actionable insights with thorough analysis and visualization.</p>
            </div>

            <div class="service-item">
                <img src="{% static 'img/monitor.png' %}" alt="" />
                <h3>Business Analysis</h3>
                <p>I leverage business intelligence tools and strategic thinking to identify inefficiencies, enhance decision-making, and drive growth.</p>
            </div>

            <div class="service-item">
                <img src="{% static 'img/deep-learning.png' %}" alt="Machine Learning" />
                <h3>Machine Learning</h3>
                <p>Utilizing advanced machine learning techniques to build predictive models and optimize systems.</p>
            </div>
        </div>
    </div>
</section>
