<!-- Skills Section -->
<section id="skills" class="skills section" style="background-color: #d0eff2">
    <div class="container section-title" data-aos="fade-up">
        <h2 style="color: black">Skills</h2>
        <div><span style="color: black">My</span> <span class="description-title" style="color: black">Skills</span></div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <ul class="skill-list">
            <li>
                <i class="bi bi-filetype-html" aria-hidden="true"></i>
                <span>HTML</span>
            </li>
            <li>
                <i class="bi bi-filetype-css" aria-hidden="true"></i>
                <span>CSS</span>
            </li>
            <li>
                <i class="bi bi-filetype-js" aria-hidden="true"></i>
                <span>JavaScript</span>
            </li>
            <li>
                <i class="bi bi-filetype-py" aria-hidden="true"></i>
                <span>Python</span>
            </li>
            <li>
                <i class="bi bi-cpu" aria-hidden="true"></i>
                <span>Machine Learning</span>
            </li>
            <li>
                <i class="bi bi-bar-chart" aria-hidden="true"></i>
                <span>Data Science</span>
            </li>
        </ul>
    </div>
</section>
<!-- /Skills Section -->
